<!DOCTYPE html>
<html lang="en">

<head>

    <title>Document</title>
</head>

<body>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            {% for x in receipts_list %}
            <tbody>

                <tr>
                    <td>{{ x.vendor }}</td>
                    <td>{{ x.total }}</td>
                    <td>{{ x.tax }}</td>
                    <td>{{ x.date|date:"m/d/y" }}</td>
                    <td>{{ x.category.name }}</td>
                    <td>{{ x.account.name }}</td>
                </tr>

            </tbody>
            {% endfor %}
        </table>
    </main>
</body>

</html>
